:root {
  --clr-dark: #000000;
  --clr-primary: #abff04;
  --clr-normal-font : #ffffff
}

@font-face {
  font-family: "Teko";
  src: url("./static/fonts/Teko-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);
  font-size: 25px;
  font-family: "Teko", sans-serif;
}

a,.btn {transition: all 300ms ease;}

/* NIGATION BAR */


.navbar,.nav-links{
  display: flex;
}

.navbar {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links{
  gap:2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a{
  color: var(--clr-normal-font); 
  text-decoration: none;
}

.nav-links a:hover{
  color: var(--clr-primary);
  text-decoration:underline;
  text-underline-offset: 1rem;
}

/* HAMBURGER MENU */

#hamburger-nav{
  color: var(--clr-normal-font);
  display: flex;
}

.hamburger-menu {
  position : relative;
  display: inline-block;
}


.hamburger-logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.project_card {
  background-color: rgb(168, 168, 168);
  border: solid 1px gray;
  padding: 10px;
  border-radius: 10px;
  height: 10vh;
  width: 10vw;
}

.project_card h3 {
  color: rgb(0, 0, 0);
  line-height: 10px;
}

.project_card img {
  border-radius: 5px;
  height: 300px;
  width: 300px;
}

.project_card svg {
  height: 50px;
  width: 50px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  padding-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

li img {
  margin-right: 10px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
  border-radius: 3px;
  width: 5rem;
  top: 10vh;
  left: 20px;
  position: fixed;
  background-color: rgb(26, 26, 26);
  z-index: 1;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav a {
  margin: 10px;
}

.side-nav svg:hover {
  background-color: aliceblue;
}

.logo {
  margin-top: 10px;
  border: solid 3px #abff04;
  border-radius: 3px;
  height: 45px;
  width: 45px;
}
